<%- include("partials/header") -%>

<br>
<p>soil_data</p>
<p>temperature: <%= foundDatas.temperature %></p>
<p>humidity: <%= foundDatas.humidity %></p>
<p>datetime: <%= foundDatas.datetime %></p>
<br>

<div class="child"><h4>Line Chart:</h4></div>
<div class="child"><a href="00humidity">humidity</a></div>
<div class="child"><a href="00temperature">temperature</a></div>


<%- include("partials/footer") -%>
